:root {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    --accent-color: linear-gradient(90deg, #7000A0 0.01%, #A0009B 100%);
    --purple-border: #A0009B;


}

[data-theme="light"] {
    --text-color: #121215;
    --inverse-text-color: #EEEEF0;
    --primary-color: linear-gradient(117deg, #EEEEF0 0%, #CCCCD8 100%);
    --secondary-color: #D166FF;
    --inverse-section-color: #121215;

}

[data-theme="dark"] {
    --text-color: #fff;
    --inverse-text-color: #000;
    --primary-color: linear-gradient(117deg, #121215 0%, #262629 100%);
    --secondary-color: #7000A0;
    --inverse-section-color: #fff;
}

body {
    background: var(--primary-color);
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

.homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: calc(48px + (64 - 48) * ((100vw - 375px) / (1440 - 375)));
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    /*letter-spacing: 15px;*/
    letter-spacing: calc(10px + (15 - 10) * ((100vw - 375px) / (1440 - 375)));
    color: var(--text-color);
}

h2 {
    font-size: calc(40px + (54 - 40) * ((100vw - 375px) / (1440 - 375)));
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    color: var(--text-color);
}

.homepage-container {
    display: flex;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.homepage a {
    text-decoration: none;
    color: var(--text-color);
}

.divider {
    width: 1px;
    height: 220px;
    background: var(--text-color);
}

.homepage-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

nav {
    display: flex;
    max-width: 100%;
    height: 80px;
    padding: 0px 32px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--text-color);
}

.nav-logo {
    color: var(--text-color);
    font-size: 40px;
    font-weight: 100;
}

.menu-container {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.menu-item {
    text-decoration: none;
    color: var(--text-color);
    font-size: 24px;
    font-weight: 400;
}

.menu-item.active {
    font-weight: 700;
}

/*main {
    padding: 80px;
}*/

section {
    padding: 80px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-img {
    background: url(images/hero-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 628px;
    height: 471px;
    position: relative;
}

.hero-title {
    color: var(--text-color);
    text-shadow: 0px 0px 15px #FFF;
    font-size: calc(50px + (120 - 50) * ((100vw - 375px) / (1440 - 375)));
    font-weight: 400;
    position: absolute;
    left: 524px;
}

.hero-link {
    align-self: flex-end;
    color: var(--text-color);
    font-size: 24px;
    font-weight: 400;
}

.section-title {
    color: var(--text-color);
    font-size: 40px;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    padding-bottom: 80px;
}

.section-title.inverse {
    color: var(--inverse-text-color);
}

.reviews {
    background-color: var(--inverse-section-color);
}

.reviews-container {
    display: flex;
    justify-content: space-between;
}

.reviews-wrapper {
    flex: 0 1 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    gap: 50px;
}

.reviewer {
    width: 168px;
    height: 168px;
    border-radius: 90px;
}

.reviewer.author1 {
    background: url(images/author1.png) no-repeat;
    background-size: cover;
}

.reviewer.author2 {
    background: url(images/author2.png) no-repeat;
    background-size: cover;
}

.reviewer.author3 {
    background: url(images/author3.png) no-repeat;
    background-size: cover;
}

.review-content {
    color: var(--inverse-text-color);
    font-size: 30px;
    font-size: calc(24px + (30 - 24) * ((100vw - 375px) / (1440 - 375)));
    font-style: italic;
    font-weight: 400;
}

.review-author {
    color: var(--secondary-color);
    align-self: flex-end;
    font-size: 24px;
}


.intro-content p {
    padding-bottom: 24px;
    color: var(--text-color);
    font-size: 24px;
    font-size: calc(18px + (24 - 18) * ((100vw - 375px) / (1440 - 375)));
    font-weight: 400;
}

.services-container {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
}

.services-wrapper {
    flex: 0 1 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.services-img {
    height: 64px;
    width: auto;
}

.services-title {
    color: var(--text-color);
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.services-content {
    color: var(--text-color);
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}

footer {
    width: 100%;
    height: 290px;
    background: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    color: #FFF;
    text-align: center;
    /*font-size: 120px;*/
    font-size: calc(40px + (120 - 40) * ((100vw - 375px) / (1440 - 375)));
    font-weight: 400;
    /*letter-spacing: 200px;*/
    letter-spacing: calc(50px + (200 - 50) * ((100vw - 375px) / (1440 - 375)));
    /*margin-right: 200px;*/
    margin-right: calc(-50px + (-200 - -50) * ((100vw - 375px) / (1440 - 375)));
}

@media screen and (max-width: 812px) {
    .divider {
        height: 1px;
        width: 100%;
    }

    .homepage {
        height: 100%;
        padding: 153px 0;
    }

    .homepage-container {
        justify-content: center;
    }

    .homepage-nav {
        align-items: center;
        gap: 32px;
    }
}

@media screen and (max-width: 375px) {

    .homepage {
        height: auto;
        padding: 153px 0;
    }

    .homepage-container {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .divider {
        height: 1px;
        width: 100%;
    }

    h1 {
        letter-spacing: 10px;
    }

    .homepage-nav {
        align-items: center;
        gap: 32px;
    }



}